* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan";
}

/* Utility */
.bg-dark {
    background-color: #23272a;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.d-flex {
    display: flex;
}

.align-items-center{
    align-items: center;
}

.align-items-start {
    align-items: flex-start;    
}

.p20 {
    padding: 20px;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.container {
    margin: 50px auto;
}

.btn {
    margin: 50px 10px;
    padding: 20px 40px;
    font-size: 25px;
    border: none;
    border-radius: 100px;
    transition: .3s;
}

.title {
    font-size: 60px;
    margin: 100px 0;
}

.subtitle {
    font-size: 50px;
    margin: 30px 0;
}

.v-align {
    vertical-align: middle;
}

/* HEADER */
header {
    background-color: #255ee9;
    color: white;
    font-size: 20px;
}

.head-container {
    margin: 0 auto;
}

.head-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: black;
    font-family: "League Spartan";
    font-size: 20px;
}

.head-small-col {
    width: 20%;
}

.head-big-col {
    width: 60%;
    text-align: center;
}

.menu-btn {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
}

.menu-btn a {
    text-decoration: none;
    color: white;
    transition: .3s;
}

.menu-btn a:hover {
    color: black;
}

/* MAIN */
section {
    padding: 50px 0;
}

/* Jumbo */
.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    color: #fff;
}

.jumbo-content {
    margin: 0 auto;
}

.jumbo-p {
    font-size: 30px;
}

.jumbo .btn:nth-last-child(2) {
    background-color: white;
}

.jumbo .btn:nth-last-child(2):hover {
    background-color: #23272a;
    color: white;
}

.jumbo .btn:last-child {
    background-color: #23272a;
    color: white;
}

.jumbo .btn:last-child:hover {
    background-color: white;
    color: black;
}

.section-p {
    font-size: 20px;
}

.cta-text { 
    font-size: 35px;   
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: top;
}

.cta .btn{
    background-color: #7289da;
    color: white;
}

.cta .btn:hover {
    background-color: #23272a;
}

footer {
    padding: 30px 20px;
    color: white;
    font-size: 20px;
}

.foot-title {
    font-size: 35px;
    color: #7289da;
    margin: 0 0 20px 0;
}

.language-flag {
    width: 30px;
    margin-right: 10px;
}

.social {
    margin: 20px 0;
}

.social a{
    text-decoration: none;
    color: white;
}

.social a:hover {
    color: #7289da;
    transition: .3s;
}

.social-icon {
    font-size: 20px;
    margin-right: 20px;
}

.col {
    flex-grow: 1;
}

.footer-menu .col li{
    list-style-type: none;
    margin-bottom: 20px;
}

.footer-menu .col li a{
    text-decoration: none;
    color: white;
}

.footer-menu-title {
    color: #7289da;
    font-weight: 600;
}

.footer-container {
    margin: 30px 0;
}

.footer-btn {
    background-color: #7289da;
    padding: 5px 10px;
    border: none;
    border-radius: 100px;
    color: white;
    transition: .3s;
}

.footer-btn:hover {
    background-color: white;
    color: #7289da;
}